.message-form(ng-controller="controllers.MessageForm as controller")
  .input-group
    input.form-control(type="text" ng-model="message" placeholder="Type a message...")
    span.input-group-btn
      button.btn.btn-default(ng-click="onSubmit(message)") Send

  .message-response(ng-show="responses" ng-repeat="(plugin, response) in responses")
    table.table.table-condensed
      thead
        tr
          th Plugin
          th Action
      tr
        td {{plugin}}
        td {{response}}
